// https://codepen.io/saeedalipoor/pen/NPyeog

[class*="icono"] {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: $blue-grey;

  &:after, &:before {
    content: "";
  }
}

[class*="icono-arrow"] {
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-bottom-color: transparent;
  border-left-color: transparent;
  margin: 8px 8px 8px 4px;

  &:before {
    right: 0;
    top: -2px;
    position: absolute;
    height: 3px;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    width: 8px;
    transform-origin: right top;
  }

  &[class*="-undefined"] {
    transform: rotate(45deg);
    color: transparent;
    margin: 8px 6px 8px 6px;

    &:before {
      color: $medium-grey;
    }
  }

  &[class*="-right"] {
    transform: rotate(45deg);
    color: $medium-grey;

    &[class*="-up"] {
      transform: none;
      color: $red;
    }

    &[class*="-down"] {
      transform: rotate(90deg);
      color: $green;
    }
  }

  &[class*="-up"] {
    transform: rotate(-45deg);
    color: $red;
  }

  &[class*="-down"] {
    transform: rotate(135deg);
    color: $green;
  }
}
