// Captions
.caption {
  margin-top: 0;
  margin-bottom: 2.5em;
  color: $dark-grey;
  padding: .5em 1em;
  background: $light-grey;
  font-size: .88em;
}

section > .caption {

  @include desktop {
    margin: 0 .8em;
  }

  @include tablet {
    margin-left: $margin-tablet;
    margin-right: $margin-tablet;
  }

  @include mobile {
    margin-left: $margin-mobile;
    margin-right: $margin-mobile;
  }
}
