[class*="dot-"] {
  display: inline-block;
  margin: 0 10px 0 4px;
  height: 10px;
  width: 10px;
  border-radius: 50%;

  &[class*="-verydarkred"] {
    background-color: #800026;
  }

  &[class*="-darkred"] {
    background-color: #bd0026;
  }

  &[class*="-darkorange"] {
    background-color: #ed4834;
  }

  &[class*="-orange"] {
    background-color: #fb8e4e;
  }

  &[class*="-lightorange"] {
    background-color: #fdc96c;
  }

  &[class*="-lightyellow"] {
    background-color: #fffbb9;
  }
}
