[class*="dot-"] {
  display: inline-block;
  margin: 0 10px 0 4px;
  height: 10px;
  width: 10px;
  border-radius: 50%;

  &[class*="-darkred"] {
    background-color: #800026;
  }

  &[class*="-mediumred"] {
    background-color: #bd0026;
  }

  &[class*="-darkorange"] {
    background-color: #f03b20;
  }

  &[class*="-mediumorange"] {
    background-color: #fd7c3c;
  }

  &[class*="-lightorange"] {
    background-color: #feb24c;
  }

  &[class*="-mediumyellow"] {
    background-color: #fed976;
  }

  &[class*="-lightyellow"] {
    background-color: #ffffb2;
  }
}
