[class*="dot-"] {
  display: inline-block;
  margin: 0 .15em 0 0;
  height: .75em;
  width: .75em;
  border-radius: 50%;

  &[class*="-red"] {
    background-color: #f03b20;
  }

  &[class*="-orange"] {
    background-color: #feb24c;
  }

  &[class*="-yellow"] {
    background-color: #ffeda0;
  }
}
