header {
  section {
    position: relative;
    margin-top: -6em;

    @include tablet {
      margin-top: 0;
    }
  }

  .block {
    padding-top: 3em;
    background: white;
  }

  h1 {
    margin-top: 0;
  }
}
