.indicator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  strong {
    font-size: 1.6em;
  }

  .box {
    flex: 0 calc(50% - .5em);
    padding: .75em 1em 1em;
    margin-bottom: 1em;
    background: $blue-grey;
    color: $white;
    line-height: 1.4;
  };

  [class*="icono-arrow"] {
    border-width: 8px;
    margin: 2px 4px;

    &:before{
      top: -5px;
      height: 7px;
      width: 18px;
    }
  }
}
