// Sticky navigation
.navigation {
  display: flex;
  height: 60px;
  max-width: $desktop-width;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 100;
  color: $white;
  transition: transform 200ms ease-in;
  background: linear-gradient(
    to bottom,
    $dark-grey 0%,
    $dark-grey 80%,
    $blue 80%,
    $blue 100%
  );

  @include mobile {
    height: 50px;
    background: $dark-grey;
  }

  @include future {
    height: 70px;
  }

  section {
    margin-top: 5px;
    width: calc(100% - 275px);
    padding: 0;

     @include future {
      margin-top: 10px;
    }

    .block {
      padding: 0;;
    }
  }

  .logo {

    img {
      margin-right: 20px;
      width: 60px;
      height: 60px;
      cursor: pointer;

      @include mobile {
        width: 50px;
        height: 50px;
      }

      @include future {
        width: 70px;
        height: 70px;
      }
    }
  }

  .title {
    font-size: 1em;
    font-weight: 300;
    line-height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @include mobile {
      display: none;
    }
  }

  .sharing {
    line-height: 40px;
    font-size: 1.3em;
    cursor: pointer;
    color: $white;
    margin: 7px 1em 0;
    padding: 0;
    list-style: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    
    @include future {
      margin-top: 8px;
    }

    li {
      display: inline-block;
      width: 30px;
      text-align: center;

      // &:first-child {
      //   width: 23px;
      // }

      &:hover {
        .icon {
          transform: scale(1.3);
        }
      }
    }

    a {
      text-decoration: none;
    }

    .icon {
      height: 20px;
      width: initial;
      transition: transform 50ms linear;
    }
  }
}
