table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.5em;
  border-style: hidden;
}

td, th {
  border: 1px solid $dark-grey;
  text-align: left;
  padding: 0 .5em;
  vertical-align: top;
}

th {
  font-weight: 600;
  background-color: $blue-grey;
  border-color: $white;
  color: $white;
  vertical-align: bottom;
}

@include tablet {

  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  tr {
    border-bottom: 1px solid $dark-grey;
    margin-bottom: 2em;
  }

  td {
    border: none;
    border-bottom: 1px solid $dark-grey;;
    position: relative;
    padding-left: 50%;

    &:last-child {
      border-bottom: none;
    }

    &:first-child {
      background-color: $blue-grey;
      border-color: $white;
      color: $white;
      font-weight: 600;
    }

    &:before {
      position: absolute;
      top: 0;
      left: 7px;
      width: calc(50% - 14px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      content: attr(data-label);
    }
  }

  .block > table {
    margin-left: 0;
    margin-right: 0;
  }
}
