// BR24 CI Colors
$white: #fff;
$light-grey: #f4f4f4;
$medium-grey: #8e949a;
$dark-grey: #434343;
$very-dark-grey: #3c3c3c;
$black: #323232;
$blue-grey: #373B47;

$blue: #0b9fd8;
$orange: #e4743a;
$green: #3ad29f;
$red: #e64242;
$yellow: #fbb800;

// Social Media colors
$facebook-blue: #3b5998;
$twitter-blue: #4099ff;
$whatsapp-green: #4dc247;
$google-red: #dd4b39;
$linkedin-blue: #007bb5;
$instagram-blue: #125688;
$mail-red: #cb2323;

.light-grey {
  color: $light-grey;
}

.medium-grey {
  color: $medium-grey;
}

.dark-grey {
  color: $dark-grey;
}

.blue {
  color: $blue;
}

.orange {
  color: $orange;
}

.green {
  color: $green;
}

.red {
  color: $red;
}

.yellow {
  color: $yellow;
}
