// Faux grid layout
body {
  display: flex;
  background: $light-grey;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

main {
  max-width: $desktop-width;
  background: $white;
  width: 100%;
}

section {
  margin: 0 auto 4em;
}

// Text level indent blocks
.block {
  width: 60%;
  padding: 0 4em;
  margin: $margin-desktop;

  @include tablet {
    width: 100%;
    margin: 0 $margin-tablet;
    padding: 0 2em;
  }
}

// Floats for quotes and marginals
.right {
  float: right;

  @include tablet {
    float: none;
  }

  @include mobile {
    float: none;
  }
}

.left {
  float: left;
  text-align: right;

  @include tablet {
    float: none;
  }

  @include mobile {
    float: none;
  }
}

.center {
  text-align: center;
}
